services:
  twitter-media-downloader:
    image: ghcr.io/flandredaisuki/twitter-media-downloader:4.0.0
    container_name: twitter-media-downloader
    restart: unless-stopped
    ports:
      - "${PORT:-10001}:${PORT:-10001}"
    environment:
      - "TZ=${TZ}"
      - "PUBLIC_HOST=${PUBLIC_HOST:-127.0.0.1}"
      - "PORT=${PORT:-10001}"
      - "LANG=${LANG}"
      - "VIDEO_NAMING_PATTERN=${VIDEO_NAMING_PATTERN}"
      - "IMAGE_NAMING_PATTERN=${IMAGE_NAMING_PATTERN}"
      - "COLLAGE_NAMING_PATTERN=${COLLAGE_NAMING_PATTERN}"
      - "HOST_DOWNLOAD_DIR=${DOWNLOAD_DIR}"
    volumes:
      - "${DOWNLOAD_DIR}:/download"
    command: /app/server.py
