services:
  twitter-media-downloader:
    build:
      context: .
    container_name: twitter-media-downloader.debug
    restart: unless-stopped
    ports:
      - "${PORT:-10003}:${PORT:-10003}"
    environment:
      - "TZ=${TZ}"
      - "PORT=${PORT:-10003}"
      - "LANG=${LANG}"
      - "VIDEO_NAMING_PATTERN=${VIDEO_NAMING_PATTERN}"
      - "IMAGE_NAMING_PATTERN=${IMAGE_NAMING_PATTERN}"
      - "WATERFALL_IMAGE_NAMING_PATTERN=${WATERFALL_IMAGE_NAMING_PATTERN}"
      - "HOST_DOWNLOAD_PATH=${DOWNLOAD_PATH}"
    volumes:
      - "${DOWNLOAD_PATH}:/download"
    command: /app/server.py
